@font-face {
    font-family: RammettoOne;
    src: url(fonts/RammettoOne-Regular.ttf);
}
@font-face {
    font-family: NunitoSans;
    src: url(fonts/NunitoSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: NunitoSans;
    src: url(fonts/NunitoSans-Black.ttf);
    font-weight: 900;
}


:root {
  --red: #E98263;
  --yellow: #F2C288;
  --blue: #9DC0CA;
  --white: #FFFFFF;
  --black: #333333;
  --gray1: #F1F2F3;
  --on-dark-secondary: rgba(255, 255, 255, 0.6);
  --on-dark-tertiary: rgba(255, 255, 255, 0.4);
  --red-light: #;
  --yellow-light: #FBE3C1;
  --blue-light: #DFE8EC;
  --shadow: 4px;
  --space-20: 16px;
  --space-40: 20px;
  --space-60: 40px;
  --space-80: 60px;
  --border32: 24px;
  --border48: 32px;
}
@media only screen and (min-width: 1366px) {
  :root {
    --shadow: 8px;
    --space-20: 20px;
    --space-40: 40px;
    --space-60: 60px;
    --space-80: 80px;
    --border32: 32px;
    --border48: 48px;
  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
input, textarea, select, button {
  background: none;
  border: 0;
  border-radius: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'NunitoSans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: var(--black);
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    font-size: 24px;
  }
}
p {
  line-height: 1.4;
  margin-bottom: 8px;
}
a, a:visited {
  color: var(--black);
}
.bg-black a, .bg-black a:visited {
  color: var(--red);
}
a:hover, .bg-black a:hover {
  color: var(--yellow);
}
img {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: RammettoOne;
  /*letter-spacing: -.0125em;*/
  margin-bottom: .5em;
}


h1 {
  font-size: calc(1em * 40 / 24);
  line-height: 1.2;
}
h2 {
  font-size: calc(1em * 36 / 24);
  line-height: 1.4;
}
h3 {
  font-size: calc(1em * 30 / 24);
  line-height: 1.4;
}
h4 {
  font-size: calc(1em * 24 / 24);
  line-height: 1.5;
}
h5 {
  font-size: calc(1em * 20 / 24);
  line-height: 1.5;
}
h1.home-intro {
  font-size: calc(1em * 48 / 24);
  line-height: 1;
}


@media only screen and (min-width: 720px) {
h1 {
  font-size: calc(1em * 48 / 24);
}
h2 {
  font-size: calc(1em * 36 / 24);
}
h3 {
  font-size: calc(1em * 32 / 24);
}
h4 {
  font-size: calc(1em * 24 / 24);
}
h5 {
  font-size: calc(1em * 20 / 24);
}
h1.home-intro {
  font-size: calc(1em * 80 / 24);
}
}

.stroke-8, .stroke-6 {
  color: var(--white);
  position: relative;
  z-index: 0; 
}
.stroke-8:after, .stroke-6:after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.stroke-8:after {
  -webkit-text-stroke: 11px var(--black);
}
.stroke-6:after {
  -webkit-text-stroke: 7px var(--black);
}
@media only screen and (min-width: 720px) {
  .stroke-8:after {
    -webkit-text-stroke: 15px var(--black);
  }
  .stroke-6:after {
    -webkit-text-stroke: 11px var(--black);
  }  
}
.stroke-button-label {
  -webkit-text-stroke: .5px var(--black);
  color: var(--white);
  text-shadow: 
  2px 2px var(--black), -2px -2px var(--black), 2px -2px var(--black), -2px 2px var(--black), 
  2px 0px var(--black), 0px 2px var(--black), -2px 0px var(--black), 0px -2px var(--black);
}

@media only screen and (min-width: 720px) {
  .span12-12 {
    width: 100%;
  }
  .span9-12 {
    width: calc(100% / 12 * 9);
  }
  .span8-12 {
    width: calc(100% / 12 * 8);
  }
  .span7-12 {
    width: calc(100% / 12 * 7);
  }
  .span6-12 {
    width: 50%;
  }
  .span5-12 {
    width: calc(100% / 12 * 5);
  }
  .span4-12 {
    width: calc(100% / 12 * 4);
  }
  .span3-12 {
    width: calc(100% / 12 * 3);
  }
}

.space-bot-20 {
  margin-bottom: var(--space-20);
}
.space-bot-40 {
  margin-bottom: var(--space-40);
}
.space-bot-60 {
  margin-bottom: var(--space-60);
}
.space-bot-80 {
  margin-bottom: var(--space-80);
}


.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-grey {
  background-color: var(--gray1);
}
.bg-black {
  background-color: var(--black);
}

.text-on-dark-primary {
  color: var(--white);
}
.text-on-dark-secondary {
  color: var(--on-dark-secondary);
}
.text-on-dark-tertiary {
  color: var(--on-dark-tertiary);
}


.content-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
@media only screen and (min-width: 720px) {
  .content-wrapper {
    max-width: 1280px;
  }
}

/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/
.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.absolute-container {
  position: relative;
}
.align-center {
  align-items: center;
}

@media only screen and (min-width: 720px) {
  .flex-big-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .text-align-right {
    text-align: right;
    margin-right: 40px;
  }
  .justify-right {
    justify-content: flex-end;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  .align-flex-start {
    align-items: flex-start;
  }
}

.header{
  display: flex;  
  flex-direction: row;
  justify-content: space-start;
  align-items: center;
}
.header-nav {
  font-family: RammettoOne;
  font-size: calc(1em * 20 / 24);
}
@media only screen and (min-width: 720px) {
  .header-nav {
    font-size: calc(1em * 24 / 24);
  }
}
.header-nav li{
  display: inline;
  padding-right: 32px;
}
.logo-container {
  width: 120px;
  margin-right: 32px;
}
.logo {
  width: 100%;
  padding: 20px 12px;
  color: var(--yellow);
}
@media only screen and (min-width: 720px) {
  .logo-container {
    width: 290px;
    margin-right: 40px;
  }
  .logo {
    padding: 24px 40px;
  }
  .header-nav li{
    padding-right: 40px;
  }
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer {
  margin-top: 60px;
}
.copyright {
  margin-top: 48px;
  margin-bottom: 20px;
}
.footer-nav-link{
  display: block;
  margin-bottom: 20px;
}
.footer-graphic {
  display: none;
}
.footer-graphic-mobile {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 50%;
}

@media only screen and (min-width: 720px) {
.footer{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  font-size: calc(1em * 20 / 24);
}
.copyright {
  margin-top: 0;
  margin-bottom: 0;
}
.footer-nav {
  flex-grow: 1;
}
.footer-nav-link{
  display: inline;
  margin-bottom: 0;
  padding-right: 32px;
}
.footer-nav-link:last-of-type {
  padding-right: 0;
}
.footer-graphic {
  display: initial;
  width: 100%;
}
.footer-graphic-mobile {
  display: none;
}
}

.section-intro {
  padding: var(--space-80) 0;
}
input {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
input {
  box-shadow: var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1);
}
.input-box {  
  /*position: relative;
  display: flex;
  justify-content: space-between;*/
  width: 100%;
}
.input-email {
  flex-grow: 1;
  width: 100%;
  padding: 13px 17px;
  background-color: var(--white);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-bottom: 12px;
  border: 3px solid var(--white);
}
.input-button {
  /*position: absolute;
  top: 0;
  right: 0;*/
  width: 100%;
  padding: 16px 20px;
  font-weight: 900;
  color: var(--white);
  border-radius: 16px;
}
.input-email:hover, .input-email:focus {
  border: 3px solid var(--yellow);
}
.input-button:hover {
  background-color: var(--yellow);
}


@media only screen and (min-width: 720px) {
  .form-wrapper {
    margin-right: 40px;
  }
  .input-email {
    width: initial;
    border-radius: 16px 0 0 16px;
    margin-bottom: 0;
  }
  .input-button {
    width: initial;
    border-radius: 0 16px 16px 0;
  }
}
.hero {
  display: none;
}
.hero-mobile-container {
  display: flex;
  justify-content: flex-end;
}
.hero-mobile {
  width: 280px;
  margin-bottom: -80px;
}
@media only screen and (min-width: 720px) {
  .hero {
    display: initial;
    width: 100%;
  }
  .hero-mobile-container {
    display: none;
  }
}

.features {
  padding: var(--space-80) 0;
}
.feature {
  margin-bottom: var(--space-80);
}
.feature:last-of-type {
  margin-bottom: 0;
}
.feature-section-title {
  margin-bottom: var(--space-60);
}
.feature-description {
  margin-bottom: 20px;
}
.feature-image {
  padding: 20px;
  border-radius: var(--border48);
}
@media only screen and (min-width: 720px) {
  .feature-description {
    margin-bottom: 0;
  }
  .feature-image {
    padding: var(--space-40);
    margin-right: var(--space-40);
  }
}  
.message-block {
  margin-bottom: 20px;
  align-items: flex-start;
}
.message-block:last-of-type {
  margin-bottom: 0;
}
.message {
  padding: 12px 20px;
}
@media only screen and (min-width: 720px) {
  .message {
    padding: 16px 24px;
  } 
}
.message-block-self {
  justify-content: flex-end;  
}
.message-from-flaibot, .message-from-friend, .message-from-self {
  box-shadow: var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1);
}
.message-from-self {
  border-radius: var(--border32) 0 var(--border32) var(--border32);
  background-color: var(--white);
  margin-right: 20px;
}
.message-from-flaibot, .message-from-friend {
  border-radius: 0 var(--border32) var(--border32) var(--border32);
  margin-left: 20px;
}
.message-from-flaibot {  
  background-color: var(--yellow-light);
}
.message-from-friend {  
  background-color: var(--blue-light);
}
.mention {
  color: var(--red);
}
.user-avatar {
  width: 60px;
  filter: drop-shadow(var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1));
}
@media only screen and (min-width: 720px) {
  .user-avatar {
    width: 80px;
  }
}
.play-icon {
  width: 24px;
  margin-right: 8px;
  filter: drop-shadow(var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1));
}
@media only screen and (min-width: 720px) {
.play-icon {
  width: initial;
}
}
.message-with-icon {
  align-items: flex-start;
}
.message-icon {
  position: relative;
  width: 32px;
  left: -8px;
}
@media only screen and (min-width: 720px) {
  .message-icon {
    width: 48px;
    margin-right: 8px;
    left: 0;
  }
}
.message-icon-right {
    margin-right: 0;
    margin-left: 8px;
}
@media only screen and (min-width: 720px) {
  .user-avatar {
    width: 80px;
  }
}
.message-title {
  font-weight: 900;
  margin-top: 6px;
}
.secondary-text {
  opacity: 50%;
}
.avatar-40 {
  width: 32px;
  margin-right: 8px;
}
@media only screen and (min-width: 720px) {
  .avatar-40 {
    width: 40px;
  }  
}
.coming-soon {
  position: relative;
  left: -12px;
  display: inline;
  filter: drop-shadow(var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1));  
}
.finger {
  position: absolute;
  top: 40px;
  right: -32px;
  width: 200px;
}
@media only screen and (min-width: 720px) {
  .finger {
    width: initial;
  }
}
.flaibot-help {
  align-items: center;
  margin-bottom: 20px;
}
.setting-graphic {
  width: 64px;
  margin-right: 16px;
}
@media only screen and (min-width: 720px) {
  .setting-graphic {
    width: initial;
  margin-right: 24px;
  }
}
.list-item {
  align-items: center;
}
.switch {
  height: 32px;
}
@media only screen and (min-width: 720px) {
  .switch {
    height: initial;
  }
}
.setting-item {
  flex-grow: 1;
  background-color: var(--black);
  padding: 12px 24px;
  border-radius: 16px;
  align-items: center;
}
@media only screen and (min-width: 720px) {
  .setting-item {
    padding: 16px 32px;
  }  
}
.list-item-label {
  margin-right: 24px;
  flex-grow: 1;
  margin-bottom: 0;
  color: var(--gray1);
}
.profiles-container {
  justify-content: space-between;  
}
.profile {
  text-align: center;
  width: 20%;
}
.profile-avatar {
  width: 100%;
  filter: drop-shadow(var(--shadow) var(--shadow) rgba(0, 0, 0, 0.1));
  margin-bottom: 12px;
}
.profile-name {
  font-weight: 900;
}
.qr-code-container {
  justify-content: center;
}

.faq-section {
  margin-bottom: var(--space-60);
}
.faq-no {
  font-family: RammettoOne;
  background-color: var(--yellow);
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
}
@media only screen and (min-width: 720px) {
  .faq-no {
    font-size: 16px;
    width: 48px;
    height: 48px;
  }
}
.faq {
  margin-bottom: 32px;
}
.faq:last-of-type {
  margin-bottom: 0;
}
.blog-section {
  padding: var(--space-40);
  border-radius: var(--border48);
  background-color: var(--white);
}